/* CUSTOM STYLE */
/* general */
html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

::selection {
    color: #000000;
    background: #00ff00fc;
}
a::selection {
    color: #00ff00fc;
    background: #e933f6;
}

body {
    overflow: overlay;
}

.site-content {
	left: 0px !important;
    margin-left: 0px !important;
}

/* Works on Firefox */
* {
    scrollbar-width: none;
    scrollbar-color: transparent rgb(194,194,194);
}
  
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}
  
*::-webkit-scrollbar-track {
    background: transparent;
}
  
*::-webkit-scrollbar-thumb {
    background-color: transparent;
}

/* Style Tweaks*/

@media (max-width: 768px) {
    h1 {
        font-size: 2.8rem !important;
    }
    .gh-article-title {
        grid-column: 1/span 10 !important;
    }
    h2 {
        font-size: 2.6rem !important;
    }
    h3 {
        font-size: 2.4rem !important;
    }
}

.gh-card-title {
    letter-spacing: -.04em !important;
}
.term7 {
    color: #e933f6 !important;
}
.term7:hover {
    color: #00ff00fc !important;
}
.gh-contact {
    margin-right: -15px !important;
    mix-blend-mode: difference;
}
.gh-author-mastodon {
    margin-right: -15px !important;
    mix-blend-mode: difference;
}
.gh-author-instagram {
    cursor: pointer;
    mix-blend-mode: difference;
}

@media (max-width: 701px) {
    .white::after, .white::before {
        background-color: var(--color-white) !important;
    }
    .invert {
        filter: invert() !important;
    }
    .accent {
        color: #ffffff !important;
        background-color: #e933f6 !important;
    }
    .gh-contact {
        margin-left: -37px !important;
        margin-right: 37px !important;
    }
    .gh-author-mastodon {
        margin-top: -41px !important;
    }
    .gh-author-instagram {
        margin-top: -41px !important;
        margin-left: 103px !important;
    }
}

/* posts */

.gh-card-image {
    z-index: 0;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.gh-card-link:hover .gh-card-image {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 0.9;
	transition: 0.3s cubic-bezier(0.33, 0, 0.2, 1);
}

/* ScrollButton */

#scrolltop {
    mix-blend-mode: difference !important;
    width: 150px;
    height: auto;
    display: block;
    visibility: hidden;
    opacity: 1;
    transition: visibility 0s, opacity 1s ease-in;
    position: fixed;
    left: 50%;
    margin-left: -75px;
    margin-bottom: -106px;
    z-index: 200;
}
.top-button {
    text-decoration: none;
    cursor: pointer;
}

@media (min-width: 991px) {
    #scrolltop {
        bottom: 57%;
    }
    .scroll-banner {
        margin-bottom: 35px !important;
    }
}

@media (max-width: 768px) {
    #scrolltop {
        bottom: 50vh;
        margin-left: -50px;
        width: 100px;
    }
    .scroll-banner {
        margin-bottom: 5px !important;
    }
}

@media (max-width: 991px) {
    #scrolltop {
        bottom: 50vh;
    }
    .scroll-banner {
        margin-bottom: 5px !important;
    }
}

/* Custom Footer - SPONSORS*/

.gh-copyright {
    max-width: 100% !important;
    overflow-x: hidden;
    flex-wrap: wrap;
    overflow-wrap: break-word;
}

.gh-sponsors {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    vertical-align: middle;
}
.gh-sponsors::before {
    content: "";
    width: 100%;
    order: 1;
}
.sponsors-col-0 {
    margin-left: 35%;
    width: 30% !important;
    margin-bottom: 40px;
}
.sponsors-col-1 {
    width: 26% !important;
}
  
.sponsors-col-2 {
    width: 67% !important;
}

@media (max-width: 768px) {
    .sponsors-col-0 {
        margin-bottom: 10px;
    }
    .sponsors-row-2 {
        font-size: 8px !important;
    }
}

