/* CUSTOM STYLE */
/* general */
html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

::selection {
    color: #000000;
    background: #00ff00;
}
a::selection {
    color: #00ff00;
    background: #e933f6;
}

p a,
a span {
    color: #e933f6 !important; 
}
p a:hover,
a span:hover {
    color: #00ff00 !important; 
}

body {
    overflow: overlay;
    isolation: isolate;
}

.site-content {
	left: 0px !important;
    margin-left: 0px !important;
}

/* Works on Firefox */
* {
    scrollbar-width: none;
    scrollbar-color: transparent rgb(194,194,194);
}
  
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}
  
*::-webkit-scrollbar-track {
    background: transparent;
}
  
*::-webkit-scrollbar-thumb {
    background-color: transparent;
}

/* Style Tweaks*/

@media (max-width: 768px) {
    h1 {
        font-size: 2.8rem !important;
    }
    .gh-article-title {
        grid-column: 1/span 10 !important;
    }
    h2 {
        font-size: 2.6rem !important;
    }
    h3 {
        font-size: 2.4rem !important;
    }
}
.gh-article-meta {
    padding-left: 10px;
    mix-blend-mode: difference !important;
}
.gh-card-meta,
.gh-card-date,
.gh-article-meta span,
.gh-article-meta .gh-author-name a,
.gh-article-meta .gh-article-date,
.gh-article-meta .gh-article-tag {
    color: #e933f6 !important;
    border-color: #e933f6 !important;
}
.kg-file-card-container {
    background-color: transparent !important;
    border-color: #e933f6 !important;
    border-width: 2px!important;
    border-radius: 10px!important;
}
.gh-article-meta .gh-author-name a:hover,
.gh-article-tag:hover {
    color: #00ff00 !important;
    border-color: #00ff00 !important;
}
.gh-article-meta .gh-author-image {
    display: none !important;
}
.kg-card {
    mix-blend-mode: saturation !important;
}
.pswp {
    z-index: 130000000 !important;
}
.kg-blockquote-alt {
    color: #000000 !important;
}
@media (max-width: 991px) {
    .gh-article-date {
        display: inline-block !important;
        margin-bottom: 15px !important;
    }
    .gh-article-meta {
        margin-bottom: 52px !important;
    }
    .gh-article-meta-inner {
        flex-direction: column !important;
    }
    .gh-article-tag {
        margin-top: 15px !important;
        display: inline-block !important;
    }
    .gh-foot-menu {
        margin-top:10px !important;
    }
}
.gh-article-title,
.gh-card-title {
    letter-spacing: -.04em !important;
}
.gh-article-title {
    grid-column: 1/span 12 !important;
}
.term7 {
    color: #e933f6 !important;
}
.term7:hover {
    color: #00ff00 !important;
}
.gh-head-logo:hover {
    filter: invert() !important;
}
.gh-contact {
    margin-right: -15px !important;
}
.gh-author-mastodon {
    margin-right: -15px !important;
}
.gh-author-instagram {
    cursor: pointer;
}
.gh-author-instagram svg,
.gh-author-mastodon svg {
    fill: #00ff00;
}
.gh-contact svg {
    stroke: #00ff00;
}
.gh-author-instagram svg:hover,
.gh-author-mastodon svg:hover {
    fill: #e933f6;
}
.gh-contact svg:hover {
    stroke: #e933f6;
}

@media (max-width: 701px) {
    .white::after, .white::before {
        background-color: var(--color-white) !important;
    }
    .invert {
        filter: invert() !important;
    }
    .accent {
        color: #ffffff !important;
        background-color: #e933f6 !important;
    }
    .gh-contact {
        margin-left: -37px !important;
        margin-right: 37px !important;
        padding-top: 2px;
        margin-bottom: -2px !important;
    }
    .gh-author-mastodon {
        margin-top: -41px !important;
    }
    .gh-author-instagram {
        margin-top: -41px !important;
        margin-left: 103px !important;
    }
}
@media (max-width: 991px) {
    .gh-author-instagram svg:hover,
    .gh-author-mastodon svg:hover {
        fill: #00ff00;
    }
    .gh-contact svg:hover {
        stroke: #00ff00;
    }
}

/* posts */

.gh-card-image {
    z-index: 0;
/*     -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);*/
}

.gh-card-link:hover .gh-card-image {
     -webkit-filter: grayscale(10%);
    -moz-filter: grayscale(10%);
    -ms-filter: grayscale(10%);
    -o-filter: grayscale(10%);
    filter: grayscale(10%);
    opacity: 0.8;
	transition: 0.3s cubic-bezier(0.33, 0, 0.2, 1);
}

/* ScrollButton */

#scrolltop {
    isolation: isolate;
    mix-blend-mode: difference !important;
    width: 50px;
    height: auto;
    display: block;
    visibility: hidden;
    opacity: 0.9;
    transition: visibility 0s, opacity 1s ease-in;
    position: fixed;
    left: 50%;
    margin-left: -25px;
    z-index: 30000000;
}
#scrolltop svg {
    fill: #00ff00;
}
.top-button {
    text-decoration: none;
    cursor: pointer;
}

@media (min-width: 991px) {
    #scrolltop {
        bottom: 0px;
        margin-bottom: 35px;
    }
    #scrolltop svg:hover {
        fill: #e933f6;
    }
}

@media (max-width: 768px) {
    #scrolltop {
        bottom: 50vh;
        margin-bottom: 25px;
        margin-left: -25px;
        width: 50px;
    }
    #scrolltop svg {
        fill: #00ff00;
    }
}

@media (max-width: 991px) {
    #scrolltop {
        bottom: 40vh;
    }
    .gh-copyright {
        margin-top: 30px !important;
    }
}

/* language */

.language-nav {
    position: fixed;
    mix-blend-mode: exclusion !important;
    display: none;
    grid-row-start: auto;
    grid-column: 2;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    width: 100%;
    height: auto;
    padding-right: var(--gap);
    padding-left: var(--gap);
    bottom: 0;
    margin: 0 !important;
    visibility: hidden;
    opacity: 1;
    transition: visibility 0s, opacity 1s ease-in;
    z-index: 20000000;
}
.language {
    margin-bottom: 40px;
    display: flex;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none !important;
}
.language a {
    color: #00ff00 !important;
}
.language a:hover {
    color: #e933f6 !important;
}
.de {
    grid-column-start: 1;
    grid-column-end: 1;
    float: left !important;
    text-align: left !important;
    padding-left: 10px !important;
}
.en {
    grid-column-start: 2;
    grid-column-end: 2;
    justify-content: end;
    float: right !important;
    text-align: right !important;
    padding-right: 10px !important;
}
@media (max-width: 991px) {
    .language {
        margin-bottom: 30px !important;
    }
    .language a {
        color: #00ff00 !important;
    }
    .language a:hover {
        color: #00ff00 !important;
    }
}